%h1 life space
%p 〜生活スタイル口コミサイト〜
%form{:action => "#", :method => "POST", :class => "select-box"}
  %select{:name => "style"}
    %optgroup{:label => "ジャンルを選択して下さい"}
      %option{:value => "all"} 全て選択
      %option{:value => "change"} 模様替え
      %option{:value => "water"} 水まわり
      %option{:value => "cloth"} クローゼット
      %option{:value => "hundred"} 100均