.wrapper
  .header
    = render "pages/header"
  .header-title
    = render "pages/header-title"
  .create-container
    %header.create-header
    %main.create-main
      = render 'form', page: @page
  .footer
    = render "pages/footer"