.wrapper
  .header
    %input.search__input{:placeholder => "search"}/
    - if user_signed_in?
      %input.button.button-clear{:action => "/pages", :method => "get", :type => "submit", :value => "投稿"}/
    - else
      %input.button.button-clear/
      = link_to "ログイン", new_user_session_path, class: 'button button-clear'
      = link_to "新規登録", new_user_registration_path, class: 'button button-clear'
  .main
    %h1 life space
    %p 〜生活スタイル口コミサイト〜
    %form{:action => "#", :method => "POST", :class => "select-box"}
      %select{:name => "style"}
        %optgroup{:label => "ジャンルを選択して下さい"}
          %option{:value => "all"} 全て選択
          %option{:value => "change"} 模様替え
          %option{:value => "water"} 水まわり
          %option{:value => "cloth"} クローゼット
          %option{:value => "hundred"} 100均
  .article
    .contents
      .contents__new
        新着
      .contents__box
        - @pages.each do |page|
          %ul.contents__smallbox
            %li.content_image
              = image_tag page.image.url, size: '130x150'
            %li.content_title
              =page.name
      %a.button{:href => "#"} 全て見る
      %p オススメ（急上昇）
      %button{:onclick => "location.href='#'"} 全て見る
  .footer
    %button.button.button-outline{:href => "#"} 利用規約
    %button.button.button-outline{:href => "#"} プライバシーポリシー
    %button.button.button-outline{:href => "#"} お問い合わせ
