.wrapper{
  // text-align: center;
  // background: -moz-linear-gradient(#ffb03c, #ff708d);
  // background: -webkit-linear-gradient(#ffb03c, #ff708d);
  // background: linear-gradient(to right, #ffb03c, #ff708d);
  // color: #FFF;
  height: 100%;
  // あとで高さは修正する
}
.header{
  // background-color: ghostwhite;
  width: 80%;
  height: 64px;
  margin: auto;
  &__left{
    float: left;
  }
  &__right{
    float: right;
  }
  &-title{
    text-align: center;
  }
}

.button-black {
    background-color: black;
    border-color: black;
}

.footer{
  text-align: center;
}

.select-box{
  width: 300px; 
  margin: auto;
}

.article{
  margin: 40px 40px;
  text-align: center;
}
.contents{
  padding: 42px 0px 100px;
  &__box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__smallbox{
    list-style: none;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    // background: #9b4dca;
    // border-bottom: solid 6px #672b8a;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
  }
  &__title{
    font-size: 12px;
  }
}
@media screen and (min-width: 768px){
  .article {
    max-width: 700px;
    padding: 0px;
    margin: auto;
  }
  .contents {
    &__smallbox {
      width: 25%;
      padding: 10px;
      // margin-right: 5px;
    }
  }
}