.wrapper{
  height: 100%;
  // あとで高さは修正する
}
.header{
  width: 80%;
  height: 64px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  &-title{
    text-align: center;
  }
  &__nav{
    display: flex;
    list-style: none;
    text-transform: uppercase;
  }
  &__nav li{
    margin-left: 36px;
  }
}

.button-black {
    background-color: black;
    border-color: black;
}

.footer{
  text-align: center;
}

.select-box{
  width: 300px; 
  margin: auto;
}

.article{
  margin: 40px 40px;
  text-align: center;
}
.contents{
  padding: 42px 0px 100px;
  &__box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__smallbox{
    list-style: none;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
  }
  &__title{
    font-size: 12px;
  }
  &__button{
    display: flex;
    justify-content: space-around;
    &-clear{
      display: inline-block;
      text-decoration: none;
      background: #533464;
      color: #F4F5F6;
      width: 55px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      transition: .4s;
    }
  }
}
@media screen and (min-width: 768px){
  .article {
    max-width: 700px;
    padding: 0px;
    margin: auto;
  }
  .contents {
    &__smallbox {
      width: 25%;
      padding: 10px;
    }
  }
}
@media (max-width: 600px) {
  .header{
    flex-direction: column;
    align-items: center;
    &-title{
    margin-top: 85px;
    }
  }
}